*{
    margin: 0;
    padding: 0;
    font-style: inherit;
    font
}
#conterMax{
    width: 1400px;
    height: 1000px;
    margin: o.5em auto;
    background: rgb(0, 0, 0);
    background-image: url(repositorio/ruby.png);
    padding: 0.5em;
}
#conter1{
    height: 10%;
    border: 1em;
    margin: 1em;
    background: rgb(155, 180, 208);
}
#conter2{
    height: 85%;
    width: 20%;
    border: 1px;
    margin: 1em;
    background: rgb(155, 180, 208);
    float: left;
}
#conter3{
    height: 85%;
    width: 75%;
    border: 1px;
    margin: 1em;
    background: rgb(155, 180, 208);
    float: right;
}
#list{
    height: 10%;
    width: 95%;
    border: 0px;
    margin: 0.5em;
    float: left;
    background-color: rgb(33, 73, 73);
}
#publi{
    height: 25%;
    width: 95%;
    border: 0px;
    margin: 0.5em;
    float: left;
    background-color: rgb(33, 73, 73);
}
#ns{
    height: 59%;
    width: 95%;
    border: 0px;
    margin: 0.5em;
    float: left;
    background-color: rgb(33, 73, 73); 
}
#bigM{
    height: 98%;
    width: 50%;
    border: 0px;
    margin: 0.5em;
    float: right;
    background-color: rgb(33, 73, 73); 
}
#part1{ 
    height: 25%;
    width: 46%;
    border: 0px;
    margin: 0.5em;
    float: left;
    background-color: rgb(33, 73, 73); 
}
#part2{ 
    height: 10%;
    width: 46%;
    border: 0px;
    margin: 0.5em;
    float: left;
    background-color: rgb(33, 73, 73); 
}
#part3{ 
    height: 10%;
    width: 46%;
    border: 0px;
    margin: 0.5em;
    float: left;
    background-color: rgb(33, 73, 73); 
}
#part4{ 
    height: 10%;
    width: 46%;
    border: 0px;
    margin: 0.5em;
    float: left;
    background-color: rgb(33, 73, 73); 
}
#part5{ 
    height: 10%;
    width: 46%;
    border: 0px;
    margin: 0.5em;
    float: left;
    background-color: rgb(33, 73, 73); 
}
#part6{ 
    height: 23%;
    width: 46%;
    border: 0px;
    margin: 0.5em;
    float: left;
    background-color: rgb(33, 73, 73); 
}
#list {
    list-style-type: none;
        display: inline;
 }